/*
=============
FONTS
=============
*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Kumbh+Sans:wght@400;700&display=swap");
/*
=============
RESETTING
=============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============
VARIABLES
=============
*/
:root {
  --primary-50: #ffc8cf;
  --primary-100: #ffbdc5;
  --primary-200: #ffb3bb;
  --primary-300: #ffa8b2;
  --primary-400: #ff9da8;
  --primary-500: #ff929e;
  --primary-600: #ff8795;
  --primary-700: #ff7c8b;
  --primary-800: #ff7182;
  --primary-900: #ff6677;
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --white: #fff;
  --black: #000;
  /* others */
  --transition: all 0.3s linear;
  --spacing: 1px;
  --radius: 6px;
  --primary-font: "Kumbh Sans", sans-serif;
  --secondary-font: "Kalam", cursive;
  --fluid-width: 90vw;
  --max-width: 1000px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*
=============
GLOBALS
=============
*/

body {
  font-family: var(--primary-font);
  list-style: 1.5;
  background: var(--grey-50);
  color: var(--grey-900);
}

img:not(.logo) {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.btn {
  display: block;
  padding: 0.375rem 0.775rem;
  background-color: var(--primary-900);
  color: var(--primary-50);
  border: transparent;
  font-weight: 600;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  text-transform: capitalize;
  transition: var(--transition);
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.75rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
}

section {
  padding: 3rem 0;
}

.section-center {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin-inline: auto;
}

/*
=============
LOADING
=============
*/
.loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 5px solid var(--grey-500);
  border-top-color: var(--primary-900);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
